<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Pasticcio</title>

      <!-- Bootstrap -->
      <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

      <link href="{{ url_for('static', filename='css/chosen.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/pasticcio.min.css') }}" rel="stylesheet">

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    {% endblock %}
  </head>
  <body>
    {% include "_navbar.html" %}

    <div class="container">
      <div class="row">
        <div class="col-sm-9 page-main">
          {% include "_messages.html" %}
          {% block content %}{% endblock %}
        </div>

        <div class="col-sm-3 sidebar">
          {% if latest_pastes %}
            <h3>Latest Pastes</h3>
            
            <ul class="list-unstyled latest-pastes">
              {% for paste in latest_pastes %}
                <li><a class="paste-link" href="{{ url_for('show_paste', paste_id=paste.id|encrypt) }}">{{ paste.title }}</a> by <a class="paste-user" href="{{ url_for('user_pastes', user=paste.user) }}">{{ paste.user }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/chosen.jquery.min.js') }}"></script>
    {% block extrajs %}{% endblock %}
  </body>
</html>
