{% extends "_base.html" %}
{% import "_helpers.html" as h %}

{% block content %}
  <form id="paste-form" method="post" role="form">
    {{ form.hidden_tag() }}

    {{ h.render_input(form.name) }}
    
    <div class="row">
      <div class="col-sm-6">
        {{ h.render_select(form.syntax, class_='chosen-select') }}
      </div>
      
      <div class="col-sm-6">
        {{ h.render_select(form.expire_on, class_='chosen-select') }}
      </div>          
    </div><!-- /.row -->

    {{ h.render_input(form.content, rows="19") }}

    <button type="submit" class="btn btn-primary">Save</button>
  </form>
{% endblock %}

{% block extrajs %}

  <script>
    $(document).ready(function () {
     $('.chosen-select').chosen();
    });
  </script>
  
{% endblock %}
