{% extends "_base.html" %}
{% import "_helpers.html" as h %}

{% block content %}
  <h3>Pastes for {{ user.username }}</h3>

  {% if user == g.user %}
    <h4>API key: {{ user.api_key.key }} <a href="{{ url_for('user_rekey', user_id=user.id) }}" class="btn btn-default">New</a></h4>
  {% endif %}

  <ul class="list-unstled">
    {% for paste in pastes %}
      <li><a href="{{ url_for('show_paste', paste_id=paste.id|encrypt) }}">{{ paste.title }}</a> ({{ paste.syntax }}) <span class="text-muted">created {{ paste.created_on|timesince }}{% if paste.expire_on %}, expire in {{ paste.expire_on|timesince(reverse=True) }}{% endif %}</span></li>
    {% endfor %}
  </ul>

{% endblock %}
